<div class="attention bigbox">
  <h1 id="trip-name"><%= title %></h1>
</div>

<style>
  .attention {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
    color: var(--grey);

  }

  .attention::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(<%- pictureUrl %>);
    z-index: -10;
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    filter: brightness(1.65);
  }
</style>
