<footer>
  <a href="https://github.com/meyersa/travel"><i class="fa-brands fa-square-github"></i></a>
  <i class="fa-regular fa-copyright"></i>
  <a href="https://fontawesome.com"><i class="fa-solid fa-font-awesome"></i></a>
</footer>
