<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Trip</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <section>
        <h1>Trip Failed to Generate</h1>
        <p>Oh no :( It's hard to say what went wrong, but you can always wait and try again</p>
      </section>
    </content>
    <%- include('partials/footer') %>
</body>

</html>