<!DOCTYPE html>
<html lang="en">

<head>
  <title>new trip</title>
  <%- include('partials/head') %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <form id="tripForm" class="bigbox">
        <div>
          <h1>New Trip</h1>
          <div class="spacer"></div>
          <p>
            In order to give you the best trip recommendations, please fill in some information below. Try to be as
            description as possible and include things you might not even think are relevant, such as if you like spicy
            food!
          </p>
        </div>
        <div class="options">
          <div>
            <label for="where">Where?</label>
            <input type="text" id="where" name="where" placeholder="Where do you want to go?" required />
          </div>
          <div>
            <label for="when">When?</label>
            <input type="text" id="when" name="when" placeholder="When do you want to go?" required />
          </div>
          <div>
            <label for="description">Description?</label>
            <textarea id="description" name="description" placeholder="What do you want to see?" required></textarea>
          </div>
          <div class="cf-turnstile" data-sitekey="0x4AAAAAAA5cXTEg4yKF4kki" data-size="flexible"></div>
        </div>
        <button id="button" type="button" onclick="submitForm()">Submit</button>
      </form>
    </content>
    <%- include('partials/footer') %>
</body>
<script>
  window.onload = function() {
    // Focus on the where input
    document.getElementById("where").focus() 

    // Let enter submit form
    document.addEventListener('keydown', function(event) {
      if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();
        document.getElementById('button').click();
      }
    });
  }

  const button = document.getElementById("button");

  function triggerLoadingState() {
    button.textContent = "";
    button.innerHTML = `<i class="fa-solid fa-spinner fa-spin"></i>`
    
  }

  function triggerErrorState() {

    // Change the button's appearance
    button.style.backgroundColor = "var(--red)";
    button.textContent = "Please try again";

    // Add the shake effect
    button.classList.add("shake");

    // Reset the button after 5 seconds
    setTimeout(() => {
      button.style.backgroundColor = "";
      button.textContent = "Submit";
      button.classList.remove("shake");
    }, 5000);
  }

  function submitForm() {
    const turnstileToken = document.querySelector('.cf-turnstile [name="cf-turnstile-response"]').value;

    if (!turnstileToken) {
      alert("Please complete the CAPTCHA.");
      return;
    }

    triggerLoadingState()

    const id = Date.now()
    const formData = {
      id: id,
      where: document.getElementById("where").value,
      when: document.getElementById("when").value,
      description: document.getElementById("description").value,
      captcha: turnstileToken
    };

    fetch('/api/new', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
      .then(response => {
        console.log(response)

        // Redirect to success page on success
        if (response.ok) {
          window.location.href = `/success?id=${id}`
        } else {
          triggerErrorState()
        }
      })
      .catch(error => {
        console.error("Error:", error);
        triggerErrorState()
      });
  }
</script>
<style>
  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }
  }

  .shake {
    animation: shake 0.5s;
  }

  .cf-turnstile {
    display: block !important;
    margin: var(--space) 0;

  }

  #tripForm {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    height: fit-content;
    width: 100%;
  }

  #tripForm>.options>div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10%;
  }

  input,
  textarea {
    padding: calc(var(--space) / 2);
    border-radius: calc(var(--space) / 2);
    margin: calc(var(--space) / 2);
    background-color: var(--white);
    border: 2px solid var(--dark-blue);
    flex-grow: 1;
  }

  input:focus,
  textarea:focus {
    background-color: var(--light-blue);
    outline: none;
  }

  button {
    background-color: var(--light-blue);
    padding: calc(var(--space) / 2);
    border-radius: calc(var(--space) / 2);
    border: none;
    font-weight: bold;
    font-size: 1rem;
  }

  button:hover {
    background-color: var(--blue);
  }

  label {
    width: 20%;
  }
</style>

</html>