<!DOCTYPE html>
<html lang="en">

<head>
  <title>Not Found</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <section>
        <h1>trip not found</h1>
        <p>Perhaps you still need to make that trip?</p>
      </section>
    </content>
    <%- include('partials/footer') %>
</body>

</html>