<!DOCTYPE html>
<html lang="en">

<head>
  <title>success</title>
  <%- include('partials/head') %>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <%- include('partials/attention', {title: "success" , pictureUrl: "/celebration.gif" }) %>
        <div>
          <p>Your new trip is being created as we speak 😎 In a few moments you'll be redirected! If you aren't
            redirected, try going back to the home page - maybe it's just a little shy</p>
        </div>
    </content>
    <%- include('partials/footer') %>
</body>
<script>
  const params = new URLSearchParams(window.location.search);
  const id = params.get("id");

  function checkPage() {
    fetch(`/api/check?id=${id}`)
      .then((res) => res.json())
      .then((data) => {
        if (data.state == "exists") {
          console.log("Page exists, redirecting")
          window.location.href = `/trip?id=${id}`;

        } else if (data.state == "fail") {
          console.log("Page failed, redirecting")
          window.location.href = `/fail`;

        }
        console.log("Page does not exist yet, waiting...")

      })
  }

  // Check every 5 seconds
  setInterval(checkPage, 5000)
</script>

</html>