<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Trip</title>
  <%- include('partials/head') %>
</head>

<body>
  <%- include('partials/header') %>
    <content>
      <section>
        <h1>Site Unavailable</h1>
        <p>Try back again in a few.</p>
      </section>
    </content>
    <%- include('partials/footer') %>
</body>

</html>