@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #e9f5f8;
  --light-purple: #eeeffc;
  --purple: #bfc4f5;
  --dark-purple: #a2a9d1;
  --light-blue: #95e5f8;
  --blue: #41d5f7;
  --dark-blue: #4596ae;
  --light-grey: #47768a;
  --grey: #485665;
  --dark-grey: #222930;

  --green: #C1E1C1;
  --red: #FAA0A0;
  
  --space: 1rem;
  --boxshadow: 0px 0px 6px 2px rgb(160 160 143 / 50%);
}

html {
  background-color: var(--white);
  color: var(--dark-grey);
  font-size: 1.15rem;
  line-height: 1.15;
  font-family: sans-serif;

}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: var(--space);
}

h1,
h2,
h3 {
  font-family: "Overpass", serif;
}

h1 {
  size: 2rem;
}

i {
  color: var(--dark-grey);
  font-size: 1.5rem;
}

a > i:hover {
  color: var(--blue);
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-style: italic;
}

.fancy {
  font-family: "Bebas Neue", serif;
  font-weight: bolder;
  color: var(--dark-blue);
}

content,
body {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 5);
}

content {
  margin: auto;
  max-width: 1000px;
}

.spacer {
  height: 5px;
  width: 10%;
  background-color: var(--dark-purple);
  margin-bottom: calc(var(--space) * 2);
}

.boxwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: calc(var(--space) * 2);
  box-sizing: border-box;
  margin: var(--space) 0;
  padding: var(--space);
}

.box {
  box-shadow: var(--boxshadow);
  max-height: 60vh;
  min-height: 20vh;
  padding: var(--space);
  width: 100%;
  max-width: 400px;
  border-radius: calc(var(--space) / 2);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box * {
  margin: calc(var(--space) / 4) 0;
}

.box p {
  /* max-height: 10vh; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.box img {
  aspect-ratio: 16/9;
  max-height: 30vh;
  border-radius: calc(var(--space) / 2);
}
