@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #e9f5f8;
  --light-purple: #eeeffc;
  --purple: #bfc4f5;
  --dark-purple: #a2a9d1;
  --light-blue: #95e5f8;
  --blue: #41d5f7;
  --dark-blue: #4596ae;
  --light-grey: #47768a;
  --grey: #485665;
  --dark-grey: #222930;

  --space: 1rem;
}

.left {
  background-color: var(--light-blue);
  padding: var(--space);
  border-radius: var(--space);
}

html {
  background-color: var(--white);
  color: var(--dark-grey);
  font-size: 1.15rem;
  line-height: 1.15;
}

img {
  max-width: 100%;
  max-height: 100%;
}
body {
  margin: var(--space);
}

h1,
h2,
h3 {
  font-family: "Overpass", serif;
}

h1 {
  size: 2rem;
}

.fancy {
  font-family: "Bebas Neue", serif;
  font-weight: bolder;
  color: var(--dark-blue);
}

p {
  font-family: sans-serif;
}

i {
  color: var(--dark-grey);
  font-size: 1.5rem;
}
header,
.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space);
}

a {
  color: unset;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  justify-content: space-between;
}

content,
body {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) * 5);
}

content {
  margin: auto;
  max-width: 1000;

}
.spacer {
  height: 5px;
  width: 10%;
  background-color: var(--dark-purple);
  margin-bottom: calc(var(--space) * 2);
}

.box {
  box-shadow: 0px 6px 15px 2px rgb(143 143 143 / 20%);
  max-height: 50vh;
  margin: calc(var(--space) * 2) auto;
  background-color: var(--light-purple);
  padding: var(--space);
  width: 30vw;
  border-radius: calc(var(--space) / 2);
}

.box p {
  max-height: 10vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box img {
  aspect-ratio: 16/9;
  max-height: 30vh;
  border-radius: calc(var(--space) / 2);
}

footer {
  display: flex;
  flex-direction: row;
  gap: var(--space);
  justify-content: center;
}
